In [4]:
class hi:
    def __init__(self, name):
        self.name = name
    def __str__(self) -> str:
        return self.name
    def __repr__(self) -> str:
        return self.name

a = hi("hello")
type(a)("oi")
a.__class__

__main__.hi

In [1]:
import pandas as pd
import numpy as np

In [14]:
instance_explanation_metrics = pd.DataFrame(columns=["method", "faithfullness_correlation", "sensitivity", "complexity"]).set_index("method")
instance_explanation_metrics.loc["shap"] = [0.9, 0.8, 0.7]
instance_explanation_metrics.loc["lime"] = [0.7, 0.6, 0.5]
instance_explanation_metrics.loc["anchor"] = [0.8, 0.7, 0.6]

display(instance_explanation_metrics)

        faithfullness_correlation  sensitivity  complexity
method
shap                          0.9          0.8         0.7
lime                          0.7          0.6         0.5
anchor                        0.8          0.7         0.6

In [15]:
instance_explanation_metrics.to_numpy()

array([[0.9, 0.8, 0.7],
       [0.7, 0.6, 0.5],
       [0.8, 0.7, 0.6]])

In [7]:
exp1 = pd.DataFrame(columns=["feature", "score"]).set_index("feature")
exp2 = pd.DataFrame(columns=["feature", "score"]).set_index("feature")

exp1.loc["feature1"] = [0.1]
exp1.loc["feature2"] = [0.2]
exp1.loc["feature3"] = [0.3]

exp2.loc["feature2"] = [0.2]
exp2.loc["feature3"] = [0.3]
exp2.loc["feature1"] = [0.4]

exp1.reset_index(inplace=True)
exp2.reset_index(inplace=True)

display(exp1)
display(exp2)

    feature  score
0  feature1    0.1
1  feature2    0.2
2  feature3    0.3

    feature  score
0  feature2    0.2
1  feature3    0.3
2  feature1    0.4

In [8]:
# align the two explanations
exp2 = exp2.set_index('feature').loc[exp1['feature']].reset_index()
display(exp1)
display(exp2)

    feature  score
0  feature1    0.1
1  feature2    0.2
2  feature3    0.3

    feature  score
0  feature1    0.4
1  feature2    0.2
2  feature3    0.3