In [2]:
import warnings
warnings.filterwarnings("ignore")

from xai_agg.agg_exp import *

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier

import pandas as pd

# Preprocess the data

In [3]:
original_data = pd.read_csv('../data/german_credit_data_updated.csv')

# Dataset overview - German Credit Risk (from Kaggle):
# 1. Age (numeric)
# 2. Sex (text: male, female)
# 3. Job (numeric: 0 - unskilled and non-resident, 1 - unskilled and resident, 2 - skilled, 3 - highly skilled)
# 4. Housing (text: own, rent, or free)
# 5. Saving accounts (text - little, moderate, quite rich, rich)
# 6. Checking account (numeric, in DM - Deutsch Mark)
# 7. Credit amount (numeric, in DM)
# 8. Duration (numeric, in month)
# 9. Purpose (text: car, furniture/equipment, radio/TV, domestic appliances, repairs, education, business, vacation/others)

display(original_data.head())
display(original_data.describe())
display(original_data.info())

# Display the unique values of the categorical features:
print('Unique values of the categorical features:')
for col in original_data.select_dtypes(include='object'):
    print(f'\t- {col}: {original_data[col].unique()}')

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Credit Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,1
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,2
2,2,49,male,1,own,little,NaN,2096,12,education,1
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,1
4,4,53,male,2,free,little,little,4870,24,car,2

,Unnamed: 0,Age,Job,Credit amount,Duration,Credit Risk
count,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000
mean,476.500000,35.501048,1.909853,3279.112159,20.780922,1.302935
std,275.540378,11.379668,0.649681,2853.315158,12.046483,0.459768
min,0.000000,19.000000,0.000000,250.000000,4.000000,1.000000
25%,238.250000,27.000000,2.000000,1360.250000,12.000000,1.000000
50%,476.500000,33.000000,2.000000,2302.500000,18.000000,1.000000
75%,714.750000,42.000000,2.000000,3975.250000,24.000000,2.000000
max,953.000000,75.000000,3.000000,18424.000000,72.000000,2.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        954 non-null    int64
 1   Age               954 non-null    int64
 2   Sex               954 non-null    object
 3   Job               954 non-null    int64
 4   Housing           954 non-null    object
 5   Saving accounts   779 non-null    object
 6   Checking account  576 non-null    object
 7   Credit amount     954 non-null    int64
 8   Duration          954 non-null    int64
 9   Purpose           954 non-null    object
 10  Credit Risk       954 non-null    int64
dtypes: int64(6), object(5)
memory usage: 82.1+ KB

None

Unique values of the categorical features:
	- Sex: ['male' 'female']
	- Housing: ['own' 'free' 'rent']
	- Saving accounts: [nan 'little' 'quite rich' 'rich' 'moderate']
	- Checking account: ['little' 'moderate' nan 'rich']
	- Purpose: ['radio/TV' 'education' 'furniture/equipment' 'car' 'business'
 'domestic appliances' 'repairs' 'vacation/others']

In [4]:
preprocessed_data = original_data.copy()

# For savings and checking accounts, we will replace the missing values with 'none':
preprocessed_data['Saving accounts'].fillna('none', inplace=True)
preprocessed_data['Checking account'].fillna('none', inplace=True)

# Dropping index column:
preprocessed_data.drop(columns=['Unnamed: 0'], inplace=True)

# Using pd.dummies to one-hot-encode the categorical features
preprocessed_data["Job"] = preprocessed_data["Job"].map({0: 'unskilled_nonresident', 1: 'unskilled_resident',
                                                         2: 'skilled', 3: 'highlyskilled'})

categorical_features = preprocessed_data.select_dtypes(include='object').columns
numerical_features = preprocessed_data.select_dtypes(include='number').columns.drop('Credit Risk')
print(f'Categorical features: {categorical_features}')
print(f'Numerical features: {numerical_features}')

preprocessed_data = pd.get_dummies(preprocessed_data, columns=categorical_features, dtype='int64')

# Remapping the target variable to 0 and 1:
preprocessed_data['Credit Risk'] = preprocessed_data['Credit Risk'].map({1: 0, 2: 1})

# Make sure all column names are valid python identifiers (important for pd.query() calls):
preprocessed_data.columns = preprocessed_data.columns.str.replace(' ', '_')
preprocessed_data.columns = preprocessed_data.columns.str.replace('/', '_')

# Normalizing the data
scaler = StandardScaler()
scaled_preprocessed_data = scaler.fit_transform(preprocessed_data)

display(preprocessed_data.head())
display(preprocessed_data.info())

display(scaled_preprocessed_data)

Categorical features: Index(['Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Purpose'],
      dtype='object')
Numerical features: Index(['Age', 'Credit amount', 'Duration'], dtype='object')

,Age,Credit_amount,Duration,Credit_Risk,Sex_female,Sex_male,Job_highlyskilled,Job_skilled,Job_unskilled_nonresident,Job_unskilled_resident,...,Checking_account_none,Checking_account_rich,Purpose_business,Purpose_car,Purpose_domestic_appliances,Purpose_education,Purpose_furniture_equipment,Purpose_radio_TV,Purpose_repairs,Purpose_vacation_others
0,67,1169,6,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,22,5951,48,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,49,2096,12,0,0,1,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
3,45,7882,42,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,53,4870,24,1,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          954 non-null    int64
 1   Credit_amount                954 non-null    int64
 2   Duration                     954 non-null    int64
 3   Credit_Risk                  954 non-null    int64
 4   Sex_female                   954 non-null    int64
 5   Sex_male                     954 non-null    int64
 6   Job_highlyskilled            954 non-null    int64
 7   Job_skilled                  954 non-null    int64
 8   Job_unskilled_nonresident    954 non-null    int64
 9   Job_unskilled_resident       954 non-null    int64
 10  Housing_free                 954 non-null    int64
 11  Housing_own                  954 non-null    int64
 12  Housing_rent                 954 non-null    int64
 13  Saving_accounts_little       954 non-null    int64
 14  Saving_accounts_moderate     954 non-null    int64
 15  Saving_accounts_none         954 non-null    int64
 16  Saving_accounts_quite_rich   954 non-null    int64
 17  Saving_accounts_rich         954 non-null    int64
 18  Checking_account_little      954 non-null    int64
 19  Checking_account_moderate    954 non-null    int64
 20  Checking_account_none        954 non-null    int64
 21  Checking_account_rich        954 non-null    int64
 22  Purpose_business             954 non-null    int64
 23  Purpose_car                  954 non-null    int64
 24  Purpose_domestic_appliances  954 non-null    int64
 25  Purpose_education            954 non-null    int64
 26  Purpose_furniture_equipment  954 non-null    int64
 27  Purpose_radio_TV             954 non-null    int64
 28  Purpose_repairs              954 non-null    int64
 29  Purpose_vacation_others      954 non-null    int64
dtypes: int64(30)
memory usage: 223.7 KB

None

array([[ 2.7694545 , -0.7399179 , -1.22763429, ...,  1.62518349,
        -0.14633276, -0.11286653],
       [-1.18704073,  0.93690642,  2.26068929, ...,  1.62518349,
        -0.14633276, -0.11286653],
       [ 1.18685641, -0.41486224, -0.72930235, ..., -0.61531514,
        -0.14633276, -0.11286653],
       ...,
       [-1.0111965 , -0.39768023,  1.26402541, ..., -0.61531514,
        -0.14633276, -0.11286653],
       [-0.65950803,  0.29240557,  0.26736153, ..., -0.61531514,
        -0.14633276, -0.11286653],
       [-0.83535227,  2.69823821,  1.26402541, ..., -0.61531514,
        -0.14633276, -0.11286653]])

In [5]:
y = preprocessed_data['Credit_Risk']
X = preprocessed_data.drop(columns='Credit_Risk')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print(f'Accuracy: {accuracy_score(y_test, y_pred)}')
print(f'ROC AUC: {roc_auc_score(y_test, y_pred)}')

Accuracy: 0.7696335078534031
ROC AUC: 0.6830357142857143

# Apply the ensemble explainer

In [7]:
agg_explainer = AggregatedExplainer(explainer_types=[LimeWrapper, ShapTabularTreeWrapper, AnchorWrapper], 
                                    clf=clf, X_train=X_train, categorical_feature_names=categorical_features,
                                    noise_gen_args={'encoding_dim': 5, 'epochs': 50},
                                    evaluator_args={"debug": False})

Epoch 1/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.2435 - val_loss: 1.2167
Epoch 2/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.2223 - val_loss: 1.1997
Epoch 3/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.2005 - val_loss: 1.1833
Epoch 4/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1653 - val_loss: 1.1674
Epoch 5/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1270 - val_loss: 1.1515
Epoch 6/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1565 - val_loss: 1.1356
Epoch 7/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1573 - val_loss: 1.1199
Epoch 8/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1375 - val_loss: 1.1048
Epoch 9/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0879 - val_loss: 1.0903
Epoch 10/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0947 - val_loss: 1.0766
Epoch 11/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1021 - val_loss: 1.0632
Epoch 12/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0415 - val_loss: 1.0502
Epoch 13/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0748 - val_loss: 1.0381
Epoch 14/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0521 - val_loss: 1.0267
Epoch 15/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0246 - val_loss: 1.0159
Epoch 16/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0469 - val_loss: 1.0058
Epoch 17/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0102 - val_loss: 0.9965
Epoch 18/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0207 - val_loss: 0.9878
Epoch 19/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0198 - val_loss: 0.9794
Epoch 20/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9568 - val_loss: 0.9718
Epoch 21/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9435 - val_loss: 0.9646
Epoch 22/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9650 - val_loss: 0.9578
Epoch 23/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9712 - val_loss: 0.9516
Epoch 24/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9460 - val_loss: 0.9457
Epoch 25/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9341 - val_loss: 0.9405
Epoch 26/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9256 - val_loss: 0.9354
Epoch 27/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9270 - val_loss: 0.9307
Epoch 28/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9340 - val_loss: 0.9261
Epoch 29/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9552 - val_loss: 0.9218
Epoch 30/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9415 - val_loss: 0.9180
Epoch 31/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8721 - val_loss: 0.9140
Epoch 32/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8997 - val_loss: 0.9104
Epoch 33/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9007 - val_loss: 0.9070
Epoch 34/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9273 - val_loss: 0.9039
Epoch 35/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9099 - val_loss: 0.9007
Epoch 36/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8971 - val_loss: 0.8979
Epoch 37/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8919 - val_loss: 0.8953
Epoch 38/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8862 - val_loss: 0.8929
Epoch 39/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8718 - val_loss: 0.8904
Epoch 40/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9042 - val_loss: 0.8882
Epoch 41/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.8942 - val_loss: 0.8858
Epoch 42/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8570 - val_loss: 0.8837
Epoch 43/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8868 - val_loss: 0.8816
Epoch 44/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8947 - val_loss: 0.8797
Epoch 45/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8789 - val_loss: 0.8779
Epoch 46/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8820 - val_loss: 0.8760
Epoch 47/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8877 - val_loss: 0.8743
Epoch 48/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8252 - val_loss: 0.8727
Epoch 49/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8612 - val_loss: 0.8710
Epoch 50/50
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8500 - val_loss: 0.8693
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 676us/step

In [8]:
sample_idx = 0
agg_explanation = agg_explainer.explain_instance(X_test.iloc[sample_idx])

In [9]:
display(agg_explanation)

                        feature     score
0                           Age  1.481818
1                      Duration  1.382749
2       Checking_account_little  0.973594
3        Job_unskilled_resident  0.656429
4                 Credit_amount  0.349447
5      Saving_accounts_moderate  0.309778
6   Purpose_furniture_equipment  0.299095
7                    Sex_female  0.288534
8                   Purpose_car  0.287815
9                  Housing_free  0.287620
10                     Sex_male  0.274051
11            Job_highlyskilled  0.266247
12            Purpose_education  0.261263
13                  Housing_own  0.260873
14              Purpose_repairs  0.259474
15      Purpose_vacation_others  0.256181
16         Saving_accounts_rich  0.255193
17                 Housing_rent  0.253174
18    Job_unskilled_nonresident  0.252254
19  Purpose_domestic_appliances  0.252254
20             Purpose_radio_TV  0.250414
21        Checking_account_rich  0.249745
22             Purpose_business  0.249148
23                  Job_skilled  0.243368
24   Saving_accounts_quite_rich  0.242907
25       Saving_accounts_little  0.231649
26         Saving_accounts_none  0.229095
27    Checking_account_moderate  0.123047
28        Checking_account_none  0.000000

In [10]:
agg_explainer.xai_evaluator._sensitivity_sequential(
    agg_explainer, 
    X_test.iloc[sample_idx],
    extra_explainer_params={
        "explainer_types": [LimeWrapper, ShapTabularTreeWrapper, AnchorWrapper],
        "noise_gen_args": {'encoding_dim': 5, 'epochs': 10},
        "evaluator": agg_explainer.xai_evaluator
    },
    iterations=10,
)

0.9998891466302092

In [11]:
faithfulness = agg_explainer.xai_evaluator.faithfullness_correlation(agg_explainer, X_test.iloc[sample_idx])
sensitivity = agg_explainer.xai_evaluator._sensitivity_sequential(
                                                agg_explainer, X_test.iloc[sample_idx],
                                                extra_explainer_params={
                                                    "explainer_types": [LimeWrapper, ShapTabularTreeWrapper, AnchorWrapper],
                                                    "noise_gen_args": {'encoding_dim': 5, 'epochs': 10},
                                                    "evaluator": agg_explainer.xai_evaluator
                                                },
                                                iterations=1
                                            )
complexity = agg_explainer.xai_evaluator.complexity(agg_explainer, X_test.iloc[sample_idx])

metrics = agg_explainer.last_explanation_metrics.copy()
metrics.loc[AggregatedExplainer.__name__] = [faithfulness, sensitivity, complexity]

In [12]:
metrics

                        faithfullness_correlation  sensitivity  complexity
method
LimeWrapper                              0.142339     0.531034    2.568284
ShapTabularTreeWrapper                   0.660208     0.698287    2.516309
AnchorWrapper                            0.247821     0.894457    1.316072
AggregatedExplainer                      0.396246     1.000000    3.183587

In [13]:
from xai_agg.utils import *

get_ranking_df(agg_explanation, epsilon=0.001)

                        Feature  Rank
0                           Age     1
1                      Duration     2
2       Checking_account_little     3
3        Job_unskilled_resident     4
4                 Credit_amount     5
5      Saving_accounts_moderate     6
6   Purpose_furniture_equipment     7
7                    Sex_female     8
8                   Purpose_car     8
9                  Housing_free     8
10                     Sex_male     9
11            Job_highlyskilled    10
12            Purpose_education    11
13                  Housing_own    11
14              Purpose_repairs    12
15      Purpose_vacation_others    13
16         Saving_accounts_rich    13
17                 Housing_rent    14
18    Job_unskilled_nonresident    14
19  Purpose_domestic_appliances    14
20             Purpose_radio_TV    15
21        Checking_account_rich    15
22             Purpose_business    15
23                  Job_skilled    16
24   Saving_accounts_quite_rich    16
25       Saving_accounts_little    17
26         Saving_accounts_none    18
27    Checking_account_moderate    19
28        Checking_account_none    20